#Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0.1;
        background-image: url('../image/aleksey-sokolenko-akgUF2mKR7E-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body-title {
        position: relative;
        margin: 40px auto;
        width: 70%;

        span {
            color: #ffbd4a;
        }

        h1 {
            font-size: 50px;
            color: #eee;
        }

        p {
            margin-top: 20px;
            font-size: 22px;
            color: #eee;
        }
    }

    @media only screen and (max-width: 1100px) {
        .body-title {
            width: 90%;

            h1 {
                font-size: 35px;
                margin-top: 15px;
            }

            p {
                font-size: 16px;
                width: 100%;
            }
        }
    }
}