#Contact {
    padding: 20px 0;
    background: #eee;
    width: 100%;

    h2, h3 {
        color: #ffbd4a;
        padding: 10px 5px;
    }

    .contact-details {
        display: flex;
        justify-content: center;

        div {
            padding: 40px 20px;
        }

        p, a {
            color: #001c36;
        }

        &-linked {
            display: flex;
            p {
                margin-right: 5px;
            }
        }
    }

    @media only screen and (max-width: 550px) {

        .contact-details {
            flex-wrap: wrap;
        }
    }
}