#Skills {
    width: 90%;
    position: relative;
    margin-bottom: 40px;

     @media only screen and (max-width: 1600px) {
         width: 100%;
     }

    .skills-top {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}