#Websites {
    background: #eee;
    padding: 80px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    h2 {
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #001c36;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .website {
        width: 500px;
        height: 350px;
        background: #001c36;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        position: relative;
        margin: 20px 10px;
        box-shadow: 1px 5px 10px 2px rgba(1,1,1, .6);
        border-radius: 10px;
        cursor: pointer;


        &-name {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translate(-50%,-50%);
            z-index: 9999;
            background: #fff;
            border-bottom: 4px solid #001c36;
            padding: 5px 10px;

            p {
                font-size: 22px;
                color: #001c36;
            }
        }

        .website-click {
            color: #001c36;
            background-color: #ffbd4a;
            padding: 10px 15px;
            border-radius: 10px;
            z-index: 1000;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            width: 100%;
            height: 350px;
            padding: 0 25px;
            object-fit: contain;
            z-index: 999;
            opacity: 1;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media only screen and  (max-width: 1100px) {

            max-width: 450px;
            height: 310px;
            padding: 20px 10px;
        }

         @media only screen and (max-width: 670px) {

             max-width: 265px;
             height: 220px;
             padding: 20px 10px;
         }
    }
}